@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}

/* #Content-wrapper {
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;

    font-family: "Lexend Deca";
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Content-wrapper ul {
    list-style: unset;
    margin: unset;
    padding: 0 0 0 30px;
}

#Content-wrapper li {
    display: list-item;
}

#Content-wrapper p strong {
    font-weight: 600;
}

#Content-wrapper h1,
#Content-wrapper h2,
#Content-wrapper h3,
#Content-wrapper h4,
#Content-wrapper h5,
#Content-wrapper h6 {
    font-weight: 700;
    font-size: unset;
}

#Content-wrapper h2 {
    font-size: 40px;
    line-height: 34px;
}

#Content-wrapper h2 {
    font-size: 32px;
    line-height: 34px;
}

#Content-wrapper h3 {
    font-size: 26px;
    line-height: 34px;
}

#Content-wrapper ins {
    color: #ff6b18;
}

#Content-wrapper a {
    color: #ff6b18;
}

#Content-wrapper a:hover {
    text-decoration: underline;
}

#Content-wrapper figure {
    max-width: 600px;
    max-height: 350px;
    overflow: hidden;
}

#Content-wrapper figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    border-radius: 20px;
} */
